<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<html xmlns:th="http://www.thymeleaf.org">    
    <head>
        <title>detail circuit</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
    <div th:insert="header :: header"></div>   
    </head>
    <body>
        <h5>Ajout d'un circuit</h5>
        <p class='rouge'><span th:text="${message}"></span></p>   
    
        <form action="#" th:action="@{/circuits/ajout}"  th:object="${circuit}" method="post">
            <table class="table">
            <tr>
                <td>Nom :</td>
                <td><input type="text" name="nom"  th:field="*{nom}"  /></td>
                <td th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}">Nom Error</td>
            </tr>
            <tr>
                <td>Pays :</td>
                <td><input type="text"  th:field="*{pays}"  /></td>
                <td th:if="${#fields.hasErrors('pays')}" th:errors="*{pays}">Pays Error</td>
            </tr>
            </table>
            <td><button type="submit">Submit</button></td>
     </form>
       <br>
       <a th:href="@{'/circuits/'}" class="btn btn-danger">Liste des circuits</a>
       <div th:insert="footer :: footer"></div>    
    </body>
</html>
