<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<html xmlns:th="http://www.thymeleaf.org">    
    <head>
        <title>detail circuit</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
        
    </head>
    <body>
        <div th:insert="header :: header"></div>  
        <h5>modification d'un circuit</h5>
        <form name="SaisieCircuit" method="post">
	<table class="table">
	 <form action="#" th:action="@{/circuits/ajout}"  th:object="${circuits}" method="post">
	<table class="table">
        <tr>
            <td>Id :</td>
            <td th:text="*{id}"></td>
	</tr> 
	<tr>
            <td>Nom :</td>
            <td><input type="text" name="nom"  th:field="*{nom}"  /></td>
            <td th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}">Nom Error</td>
        </tr>
	<tr>
            <td>Pays :</td>
            <td><input type="text"  th:field="*{pays}"  /></td>
            <td th:if="${#fields.hasErrors('pays')}" th:errors="*{pays}">Pays Error</td>
        </tr>

	</table>
        <td><button type="submit">Submit</button></td>
    </form>
    <br>
    <a th:href="@{'/circuits/'}" class="btn btn-danger">Liste des circuits</a>
    <h6 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h6>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    <div th:insert="footer :: footer"></div>     
    </body>
</html>
