<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
   
    <head>
        <title>liste des circuits</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" type="text/css" th:href="@{css/style.css}"/>
</head>
    <body>
        <div th:insert="header :: header"></div>   
        <div class="container">
        <h5>Liste des circuits</h5>
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                    <th>Nom</th>
                    <th>Pays</th>
            </tr>
            </thead>
            <tbody>
            <p class='rouge'><span th:text="${message}"></span></p>    
            <tr th:each="c:${circuits}">
                <td>
                    <a th:href="@{'/circuits/' + ${c.id}}" class="btn btn-danger">
                        <span th:text="${c.id}"></span>
                    </a></td>
                <td><span th:text="${c.nom}"></span></td>
                <td><span th:text="${c.pays}"></span></td>
                <td>
                    <a th:href="@{'/removeCircuit/' + ${c.id}}" class="btn btn-danger">
                        <i class="material-icons">delete</i>
                    </a>                
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <a th:href="@{'/circuits/ajout'}" class="btn btn-danger">Ajouter un circuit</a>
</div>
<div th:insert="footer :: footer"></div>   
</body>
   
</html>
