<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <table border="1">
	    <tr>
	        <th>Id</th>
	        <th>Nom</th>
	        <th>Pays</th>
	    </tr>
	    <tr th:each ="c:${circuits}">
	        <td th:utext="${c.id}">...</td>
	        <td th:utext="${c.nom}">...</td>
	        <td th:utext="${c.pays}">...</td>
	    </tr>
	</table>
        <br>
        <a th:href="@{'/circuits/'}" class="btn btn-danger">Liste des circuits</a>
    </body>
</html>
